<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>       
        <configuration name="Spe.DataSync" description="Sitecore PowerShell Extensions DataSync" dependencies="Spe.Core" >
          <targetDataStore physicalRootPath="C:\Work\DataSync\App_Data\Unicorn\SPE\Extensions" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Modules/PowerShell DataSync" />
            <include database="master" path="/sitecore/system/Modules/PowerShell/Script Library/SPE/Extensions/DataSync">
               <exclude childrenOfPath="Imports" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>